.footer {
    background-color: #121416;
    margin: 50px 0 0;
    color: #ffffff;
    font-size: 16px;
    padding: 0 10px;
    border-top: chocolate 1px solid;

    &__contact {
        padding: 40px 0;

        ul {
            @include flexbox;
        }

        li {
            flex-basis: 50%;
            line-height: 1.3;
            
            // text-align: center;
            // padding: 0 10%;
            @include flexbox;
            justify-content: center;
        }
    }

    &__title {
        position: relative;
        font-size: 24px;
        font-weight: bold;
        border-bottom: 1px solid #ffffff;
        margin-bottom: 25px;
        padding-bottom: 10px;

        &:after {
            position: absolute;
            content: "";
            height: 4px;
            width: 70px;
            background: #ffb600;
            bottom: -1px;
            left: 0;
        }
    }
    .footer-social {
        text-align: center;
        padding-bottom: 20px;

        a:before {
            font-family: "icomoon";
            content: "\f16d";
            font-size: 30px;
            color: $orange;
        }
        a:hover {
            &:before {
                color: #ffffff;
            }
        }
    }
    &__email{
        color: $orange;
    }
    &__email:hover{
        color: #ffffff;
    }
}
.copyright {
    background-color: #0a0a0b;
    padding: 40px 0;
    color: #fff;
    text-align: center;
}
