.header {
    background-color: #002e5b;
    padding: 10px 20px;
    font-family: $fnt;
    font-weight: 300;

    @media (max-width: 768px) {
        border-bottom: 3px solid $orange;
    }

    &__row {
        @include flexbox;
        justify-content: space-between;

        @media (max-width: 536px) {
            flex-direction: column;
            align-self: center;
        }
    }

    &__logo {
        // visibility: hidden;
        background-image: url("../img/logo1.png");
        border: 2px solid #ffffff;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 200px;
        height: 80px;

        @media (max-width: 536px) {
            width: 140px;
            height: 52px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__contacts {
        align-self: center;
        font-size: 18px;
        line-height: 1.5;
    }

    &__contacts-list {
        @include flexbox;

        @media (max-width: 1080px) {
            flex-direction: column;
        }

        a {
            position: relative;
            color: #ffffff;
            font-size: 20px;
            margin-left: 50px;
            padding-left: 30px;

            @media (max-width: 768px) {
                margin-right: 80px;
                margin-left: 0;
            }
            @media (max-width: 536px) {
                padding-right: 0;
                margin-right: 00px;
            }

            &:before {
                font-family: "icomoon";
                position: absolute;
                color: #fff;
                left: 0;
            }

            &:after {
                content: "";
                position: absolute;
                height: 2px;
                width: 0px;
                bottom: -10px;
                left: 50%;
                right: 50%;
                background-color: #fff;
                @include transition;
            }

            &:hover {
                &:after {
                    width: 100%;
                    left: 0;
                    right: 0;
                }
            }
        }
        .phone:before {
            content: "\f095";
        }
        .mail:before {
            content: "\1f300";
        }
    }
}
