.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
html,
body {
    font-family: $fnt;
    font-weight: 300;
}

// ============= BURGERMENU ==========================
.burger-menu {
    visibility: hidden;

    @media (max-width: 768px) {
        display: contents;
        visibility: initial;
    }

    &__button {
        position: fixed;
        border-radius: 40%;
        background-color: #e9e9e9;
        right: 15px;
        top: 15px;
        width: 40px;
        height: 40px;
        z-index: 30;
        filter: opacity(0.4);
    }

    &__lines,
    &__lines::before,
    &__lines::after {
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: $blue;
        transition: 0.3s;
    }
    &__lines {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::before {
            content: "";
            top: -8px;
        }
        &::after {
            content: "";
            top: 8px;
        }
    }
    &__list {
        position: fixed;
        background-color: rgb(76, 72, 156, 1);
        text-align: center;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        top: -100%;
        transition: 0.3s;
        z-index: 20;
        .header__logo {
            margin: 20px auto;
            width: 140px;
            height: 50px;
        }
        a {
            display: block;
            text-transform: uppercase;
            font-size: 22px;
            padding: 10px 0;
            color: #fff;
        }
        .email {
            text-transform: none;
        }
    }
}
.burger-active {
    .burger-menu__lines {
        background-color: transparent;
    }
    .burger-menu__lines::before {
        top: 0;
        transform: rotate(220deg);
    }
    .burger-menu__lines::after {
        top: 0;
        transform: rotate(-220deg);
    }
    .burger-menu__list {
        top: 0;
    }
}

// ============= Arrow ========================
.to-head {
    background-color: rgba(189, 189, 189, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 35px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 998;

    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;

    a {
        display: inline-block;
        height: 100%;
        width: 100%;
        background: url("../img/icons/SVG/keyboard_arrow_up.svg") center / cover no-repeat;
        opacity: 0.6;
    }
}

.show {
    opacity: 0.6;
    visibility: visible;
}

// ============ Banner ====================
.banner {
    background-image: url("../img/banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
    margin-bottom: 60px;
}
.banner:before {
    content: "";
    height: 80vh;
    background: rgba(42, 34, 22, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.banner__row {
    padding: 18% 0 1% 0;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;

    @media (max-width: 485px) {
        padding: 25% 0;
    }
}
.banner__row-item {
    padding: 0 10px;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    text-shadow: rgb(0, 0, 0) 2px -1px 11px;
    margin: 0 auto;

    @media (max-width: 645px) {
        font-size: 30px;
    }

    span {
        font-size: 60px;
        color: $orange;

        @media (max-width: 645px) {
            font-size: 40px;
        }
    }
}

// ============ Slider-content ==============
.slick-track {
    @include flexbox;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 80vh;
}
.slick-list {
    overflow: hidden;
}
.my-slick {
    p {
        font-size: 46px;
        font-weight: 700;
        color: $orange;
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
        line-height: 1.2;

        @media (max-width: 768px) {
            font-size: 36px;
            margin-bottom: 5px;
        }
    }
    p::after {
        content: "";
        position: relative;
        display: block;
        height: 2px;
        width: 8%;
        background: $orange;
        margin: 0 auto;
    }
    &__inner {
        position: relative;
        padding: 0 55px;

        .slick-arrow:hover {
            opacity: 1;
        }
        .slick-arrow {
            position: absolute;
            top: 45%;
            z-index: 5;
            font-size: 0px;
            height: 50px;
            width: 50px;
            opacity: 0.3;

            &.slick-prev {
                left: 15px;
                background: url("../img/icons/SVG/arrow_back_ios.svg");
                background-repeat: no-repeat;
                background-size: cover;
            }
            &.slick-next {
                right: 0px;
                background: url("../img/icons/SVG/arrow_forward_ios.svg");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .slick-dots {
            @include flexbox;
            align-items: center;
            justify-content: center;
        }
        .slick-dots li {
            margin: 3px 5px;

            &.slick-active button {
                background-color: transparent;
                border: 1px solid #000000;
            }
        }
        .slick-dots button {
            font-size: 0;
            width: 10px;
            height: 10px;
            background-color: $blue;
            border-radius: 50%;
        }
    }
    &__item {
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

// ============= Services ===================
.services {
    margin-top: 60px;
    background-color: rgba(249, 169, 123, 0.12);
    // padding-bottom: 20px;

    &__title {
        font-size: 46px;
        font-weight: 700;
        color: $orange;
        text-align: center;
        margin-bottom: 40px;
        line-height: 1.2;
        padding-top: 25px;
        text-transform: uppercase;

        @media (max-width: 768px) {
            margin-bottom: 15px;
        }

        &::after {
            content: "";
            position: relative;
            display: block;
            height: 2px;
            width: 8%;
            background: $orange;
            margin: 0 auto;
        }

        @media (max-width: 768px) {
            font-size: 36px;
        }
    }

    &__block {
        @include flexbox();
        align-items: center;

        @media (max-width: 768px) {
            font-size: 36px;
            display: block;
            padding-bottom: 60px;
        }
    }

    .block-img {
        flex: 1 1 50%;
        height: 550px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-top-right-radius: 150px;

        @media (max-width: 768px) {
            height: 300px;
        }

        &.engineering {
            background-image: url("../img/services/01.jpg");
        }
        &.thermal {
            background-image: url("../img/services/02.jpg");
        }
        &.repairsys {
            background-image: url("../img/services/03.jpg");
        }
        &.cashmachine {
            background-image: url("../img/services/04.jpg");
        }
        &.tvinternet {
            background-image: url("../img/services/05.jpg");
        }
        &.counter {
            background-image: url("../img/services/100.jpg");
        }
        &.project {
            background-image: url("../img/services/07.png");
        }
    }
    .block-text {
        flex: 1 1 50%;
        padding: 0 10px;
        text-align: left;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.4;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 22px;
            text-align: center;
            padding-top: 15px;
        }

        @media (max-width: 485px) {
            font-size: 18px;
        }
    }

    .phone {
        display: block;
        font-weight: 700;
        color: $orange;
        text-shadow: none;
    }

    ul {
        width: 85%;
        margin: 0 auto;

        @media (max-width: 485px) {
            width: 75%;
        }

        li {
            width: 100%;
            list-style: square inside;
            line-height: 1.4;
            text-align: left !important;
        }
    }

    &__block.rev {
        flex-direction: row-reverse;
    }
}

// ============= Connecting ===================
.connect {
    padding: 0 10px;
}
.connect-block {
    @include flexbox;
    justify-content: space-between;
    margin-top: 60px;

    @media (max-width: 645px) {
        display: block;
    }

    &__contacts {
        flex-basis: 50%;
        font-size: 20px;
        font-weight: 500;
        position: relative;
    }

    .contacts-title {
        font-size: 46px;
        font-weight: 700;
        color: $orange;
        line-height: 1.4;

        @media (max-width: 768px) {
            font-size: 36px;
        }

        @media (max-width: 645px) {
            text-align: center;

            &::after {
                content: "";
                position: relative;
                display: block;
                height: 2px;
                width: 8%;
                background: $orange;
                margin: 0 auto;
            }
        }
    }
    .contacts-address {
        padding-top: 15px;
        width: 70%;
        line-height: 1.4;

        @media (max-width: 645px) {
            text-align: center;
            margin: 0 auto;
        }
    }

    .contacts-phone {
        margin-top: 25px;

        @media (max-width: 645px) {
            text-align: center;
            position: relative;
        }
    }

    li {
        padding-top: 15px;

        a {
            padding-left: 25px;
            position: relative;
            color: #000000;
        }
    }
    
    .phone{
        text-decoration: underline;
        text-decoration-color: $orange;
        transition: text-decoration .3s;
    }
    .phone:hover{
        text-decoration: none;
    }

    .mail:before {
        font-family: "icomoon";
        content: "\1f300";
        position: absolute;
        left: 0;
    }
    .phone:before {
        font-family: "icomoon";
        content: "\f095";
        position: absolute;
        left: 0;
    }
    .viber-link {
        line-height: 1.4;
    }

    .viber {
        color: $orange;
        padding-left: 0;
    }
    .viber:hover {
        display: inline-block;
        color: royalblue;
        transform: scale(1.1, 1.2);
        transition: .4s;
    }

    &__form {
        margin: 0 auto;
        flex-basis: 40%;

        @media (max-width: 645px) {
            margin-top: 40px;
            width: 75%;
        }
    }

    .form-inner {
        input,
        textarea {
            margin-bottom: 2px;
            padding: 3px 5px;
        }
        input {
            width: 100%;
            padding-top: 20px;
            margin-right: 30px;
            border-bottom: black 1px solid;
        }
        input[placeholder],
        textarea[placeholder] {
            opacity: 0.6;
        }
        input:focus,
        textarea:focus {
            box-shadow: 1px 1px 2px 2px $orange;
        }

        &__text {
            padding-top: 20px;

            textarea {
                display: block;
                border-bottom: 1px #000 solid;
                width: 100%;
                height: 4rem;
                resize: none;
            }
        }
        .g-recaptcha {
            margin-top: 20px;

            @media (max-width: 368px) {
                transform: translate(-38px);
            }
        }

        &__button {
            margin-top: 10px;
            padding: 10px;
            background-color: $orange;
            transition: .5s
        }
        &__button:hover{
            border-radius: 40px;
            
        }
    }
}

// ============= map ================
.map {
    margin-top: 50px;
}

// ========== vacancy ===============
.vacancy {
    margin-top: 60px;

    @media (max-width: 768px) {
        margin-top: 0px;
    }

    &__row {
        @include flexbox;
        flex-wrap: wrap;
        margin: 0 -5px;
    }

    &__column {
        flex: 0 1 33.333%;
        @include flexbox;
        padding: 10px 12px;

        @media (max-width: 975px) {
            flex: 0 0 50%;
        }
        @media (max-width: 768px) {
            flex: 0 0 100%;
            margin-top: 22px;
        }
    }
    &__row-item {
        @include flexbox;
        flex-direction: column;
        width: 100%;
        min-height: 300px;
        border: 1px solid $blue;
        border-radius: 0px 60px 0 0px;
        padding: 10px;
        background-color: $blue;
        transition: 0.3s;
    }
    &__row-item:hover {
        box-shadow: $orange 1px 1px 15px 1px;
        transform: scale(1.1);

        @media (max-width: 768px) {
            transform: none;
        }
    }
    .row-item__title {
        font-size: 32px;
        text-align: center;
        padding: 0 10px 15px;
        color: $orange;
        min-height: 55px;
    }
    .row-item__content {
        flex: 1 1 auto;
        font-size: 22px;
        color: #ffffff;
        line-height: 30px;
        text-align: center;
    }
    .row-item__list {
        li {
            font-size: 18px;
            line-height: 24px;
            list-style-type: disc;
            list-style-position: inside;
            text-align: left;
        }
    }
    .row-item__contact {
        line-height: 30px;
        font-size: 33px;
        padding-top: 20px;
        color: $orange;
        text-align: center;
    }
}
