.wrapper {
    // height: 100%;
    overflow: hidden;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    // padding: 0 10px;
}
html,
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: 25px;
}
// =================================================
.top-arrow {
    position: fixed;
    display: inline-block;
    // right: 20px;
    bottom: 10px;
    width: 200px;
    left: 20px;
    text-align: center;
    line-height: 2;
    z-index: 10;
    a {
        display: inline-block;
        color: #000000;
        font-weight: 700;
        width: 100%;
        background-color: rgba(20, 152, 46, 0.144);
    }
    a:hover {
        background-color: rgba(20, 152, 46, 0.9);
    }
}

// ============ Slider-content ==============
.my-slick {
    button{
        position: absolute;
    }
    // display: none;
    .slick-track {
        @include flexbox;
        justify-content: space-between;
    }
    .my-slick__inner {
        .my-slick__item {
            .my-slick__item-content {
                text-align: center;
                height: 75vh;

                img {
                    height: 100%;
                }
            }
        }
    }
}

// ============= Services ===================
.services {
    margin-top: 40px;
    margin-top: 60px;

    .services__title {
        font-size: 46px;
        font-weight: 700;
        color: #f78000;
        text-align: center;
        margin-bottom: 40px;
        text-transform: uppercase;
    }
    .services__block {
        @include flexbox();
        align-items: center;

        .block-img {
            flex-basis: 50%;
            min-height: 550px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            &.engineering {
                background-image: url("../img/services/01.jpg");
            }
            &.thermal {
                background-image: url("../img/services/02.jpg");
            }
            &.repairsys {
                background-image: url("../img/services/03.jpg");
            }
            &.cashmachine {
                background-image: url("../img/services/04.jpg");
            }
            &.tvinternet {
                background-image: url("../img/services/05.jpg");
            }
            &.counter {
                background-image: url("../img/services/062.jpg");
            }
            &.project {
                background-image: url("../img/services/07.png");
            }
        }
        .block-text {
            padding: 0 5px;
            flex-basis: 50%;
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.5;

            ul {
                width: 55%;
                margin: 0 auto;
                li {
                    line-height: 2;
                    text-align: left;
                }
            }

            .phone {
                display: block;
                font-weight: 700;
                color: #f78000;
                text-shadow: none;
            }
        }
    }
    .services__block.rev {
        flex-direction: row-reverse;
    }
}

// ============= Connecting ===================
.connect {
    padding: 0 10px;
    .container {
        .connect-block {
            @include flexbox;
            justify-content: space-between;
            margin-top: 60px;

            &__contacts {
                flex-basis: 50%;
                font-size: 20px;
                font-weight: 500;

                .contacts-title {
                    font-size: 46px;
                    font-weight: 700;
                    color: #f78000;
                }
                .contacts-address {
                    padding-top: 30px;
                    width: 50%;
                }
                .contacts-phone {
                    padding-top: 30px;
                    li {
                        padding-top: 20px;
                    }
                }
            }

            &__form {
                // display: none;
                flex-basis: 50%;

                .form-inner {
                    // max-width: 700px;
                    input,
                    textarea {
                        padding: 2px 5px;
                    }

                    &__input {
                        // width: 200px;
                        text-align: center;
                        input {
                            width: 100%;
                            // max-width: 250px;
                            padding-top: 20px;
                            margin-right: 30px;
                            border-bottom: black 1px solid;
                        }
                    }
                    // &__input::placeholder {
                    //     font-size: 16px;
                    //     font-style: italic;
                    // }
                    &__text {
                        padding-top: 20px;

                        textarea {
                            display: block;
                            border-bottom: 1px #000 solid;
                            width: 100%;
                            height: 4rem;
                            resize: none;
                        }
                    }
                    .g-recaptcha {
                        padding-top: 10px;
                    }
                    &__button {
                        display: inline-block;
                        margin-top: 15px;
                        border: chocolate 1px solid;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

// ==================================================
.exampleform {
    display: none;
    margin-top: 70px;
    .container {
        .exampleform__inner {
            padding-bottom: 40px;
            min-height: 220px;

            .exampleform__content {
                max-width: 800px;

                .exampleform__content-inner {
                    @include flexbox;
                    justify-content: space-between;

                    label,
                    input,
                    textarea,
                    select {
                        display: block;
                        width: 100%;
                    }
                    input,
                    textarea,
                    select {
                        margin-bottom: 12px;
                        border: #000000 1px solid;
                    }
                    input,
                    textarea:focus {
                        // border: #2124e2 1px solid;
                    }
                    label {
                        line-height: 30px;
                        // margin-bottom: 20px;
                    }
                    input {
                        // margin-bottom: 8px;
                        outline: none;
                        height: 40px;
                        border: 1px solid #e6e6e6;
                        padding: 0px 10px;
                    }
                    select {
                        // margin-bottom: 8px;
                        outline: none;
                        height: 40px;
                        border: 1px solid #e6e6e6;
                        padding: 0px 10px;
                    }

                    .exampleform__content-left {
                        max-width: 250px;
                        width: 100%;
                    }
                    .exampleform__content-right {
                        max-width: 500px;
                        width: 100%;
                    }
                }
            }
        }
    }
}
// ==================================================

// ============= map =============
.map {
    margin-top: 50px;
    .container {
    }
}

// ============ footer ===========

// ========== vacancy ==============

.vacancy {
    margin-top: 60px;
    
    .container {
        .vacancy-content {
            @include flexbox;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0 10px;
            
            .vacancy-row {
                flex-basis: 30%;
                margin-top: 15px;
                padding: 0 10px;
                border: #f78000 1px solid;
                
                &__title {
                    text-align: center;
                    font-size: 45px;
                    line-height: 1.3;
                    padding-bottom: 15px;
                }
                &__content {
                    text-align: center;
                    padding-bottom: 15px;
                    line-height: 1.3;
                        font-size: 20px;
                    
                    .content-list {
                        
                    }
                }
                &__contact {
                }
            }
            .vacancy-row:hover{
                background-color: rgba(255, 255, 255, .9);
            }
        }
        
    }
}
